.map-section {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-image: url("/satelital-urbanos.jpg");
  background-size: cover;
  background-position: center;
  min-height: 240px;
  padding: 12px;
}
