.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 24px;
}

.card {
  font-style: Arial, sans-serif;
  font-weight: 600;
  background: rgb(3, 148, 3);
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}
